<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{title}}</title>
{{{head}}}
</head>
<body>
<h1>{{title}}</h1>
<table border="0">
<tr><td colspan="3"><a href="../">{{parent}}</a></td></tr>
{{#files}}
    <tr>
        <td><a href="{{path}}"> {{name}}</a></td>
        <td align="right">[{{size}}]</td><td>[{{lastModified}}]</td>
    </tr>
{{/files}}
</table>
</body>
</html>
